<h1>Search and import recipe</h1>

<form action="/import_recipe" method="post">
  Search for ingredient:<br>
  <label for="ingredient">ingredient:</label>
  <br>
  <input type="text" name="ingredient" value=""><br>
  <input type="submit" value="Search recipies">
</form>
<br>
<br>
<a href="/"><< Back</a>
